body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.contenedor {
  display: flex;
  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px;
}
.item {
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

h1,
h2,
h3 {
  color: #333;
}
