:root {
  --rosa: #fce4ec;
  --negro: #1a1a1a;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blanco);
  color: var(--negro);
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  text-align: center;
  padding: 2rem;
}

.codigo {
  font-size: 10rem;
  font-weight: 700;
  color: var(--negro);
}

.mensaje {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.boton {
  margin-top: 2rem;
  background-color: var(--rosa);
  color: var(--negro);
  padding: 1rem 2rem;
  text-decoration: none;
  border: 2px solid var(--negro);
  font-weight: bold;
  transition: 0.3s ease;
  border-radius: 8px;
  display: inline-block;
}

.boton:hover {
  background-color: var(--negro);
  color: var(--rosa);
}
